<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<nav-bar></nav-bar>
<div class="header0001">
</div>

<div class="coverpad">
</div>
<div class="coverpadx"><img [src]="'/assets/cover.jpg'" width="850px"/>
</div>



<div class="profilepic">
</div>
<div class="profilepicx"><img [src]="'/assets/prof.png'" height="140px"/>
</div>
<div class="username">Jadavananda <br>bordoloi
</div>
<div class="box11">Timeline
</div>
<div class="box12">About
</div>
<div class="box13">Friends
</div>
<div class="box14">Photos
</div>

<div class="postp">
  <div id="column-1" class="postp">update status | add photos/videos | create photo album<hr><br><br><br><br><br><br><hr></div>
  <div id="postpos" class="postp"><input type="submit" id="buttonpost" value="post"/></div>
  <div id="postboxpos" class="postp">
    <textarea placeholder="What's in your mind" id="postbox"></textarea></div>

</div>
<div class="postpx">
</div>

<div class="post1px">
</div>

<div class="aboutpad">about
</div>
<div class="aboutpadx">
</div>




<div class="abox1">
</div>

<div class="abox1x">
</div>

<div class="abox2">
</div>

<div class="abox2x">
</div>

<div class="abox3">
</div>

<div class="abox3x">
</div>

</body>
</html>
